* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.textfield-contain {
  padding: .6rem 1.2rem;
  border: 1px solid #c3c3c3;
  border-top: 0px;
}

.textfield-contain:first-child {
  border-top: 1px solid;
}

.textfield-contain:last-child {
  border-top: 0px;
}

.mui-textfield {
  margin-bottom: 0px;
}

.mui-textfield input, .mui-textfield input:focus {
  border-bottom: 0px;
}

.mui-textfield--float-label>label {
  -webkit-transform: translate(0, 8px);
  -ms-transform: translate(0, 8px);
  transform: translate(0, 8px);
}