body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

ul, li {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-menu-wrap {
  width: 400px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.Home .MainContainer {
  padding: 10px;
  min-height: 30rem;
}

.Home .MainContainer.SectionOne {
  background: gray;
}

.Home .MainContainer.SectionTwo {
  background: lightblue;
  background: url("./Assets/ImageHome.webp");
  background-size: cover;
  background-position: 100%;
}

.FooterSectionHead {
  color: gray;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.FooterSectionList a, .FooterSectionList a:visited {
  color: white;
}

.SocialList {
  text-align: right;
}

.SocialList li {
  display: inline-block;
  padding: .8rem;
  padding-top: 0px;
}

.SocialList i {
  color: white;
  font-size: 2rem;
}

.FooterSectionList li {
  padding: .5rem 0rem;
}

.FooterSection {
  background: #000000;
}

.FooterSection .SectionWrapper {
  padding: 4rem 0;
}

.CopyWright {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.Header {
  margin: 8px;
  padding-bottom: 6px;
}

.HeaderLogo {
  /* width: 180px; */
  height: 4.3rem;
}

.HeaderAppIcon {
  padding-left: 0.8em;
  font-size: 1.4em;
  color: black;
}

.HeaderRised {
  margin: 0px;
  border-bottom: 1px solid #c1c1c1;
  box-shadow: 0 0 13px 0px #c1c1c1;
  background: #fff;
}

.Menu {
  text-align: right;
  margin-top: 0;
}

.Menu li {
  display: inline-block;
  padding: 1rem;
}